<html style="width: 256px; height: 128px; display: flex; align-items: center; justify-content: center;">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
    <style>
        div {
            padding: 16px;
            width: 95%;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 18px;
            text-transform: uppercase;
            background-color: rgb(0, 140, 255);
            color: white;
            text-align: center;
        }
    </style>
</head>

<body style="display: flex; align-items: center; justify-content: center;">
    <script src="../scripts/popup.js"></script>
</body>

</html>